.title {
  height: 30vh !important;
  /* text-align: left !important; */
}
.title p {
  color: var(--white);
}
.title h1 {
  padding-bottom: 0px !important;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  height: 60vh;
  padding: 1.5rem;
}
.message-info {
  background-color: var(--light-gray);
  padding: 2rem;
  margin-top: -100px;
}
.form input {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 2rem;
  width: 20vw;
  border: none;
}
.form input ::placeholder {
  color: var(--light-gray);
  font-size: 20px;
}
.form input:last-child {
  height: 15rem;
  position: relative;
}
.form input:last-child::placeholder {
  top: 8px;
  position: absolute;
  text-align: left;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1.5rem;
  height: 62vh;
  margin-top: -100px;
  align-items: center;
}
.info h3 {
  font-size: 2rem;
}
.info-content i {
  margin: 20px;
  font-size: 2rem;
}
.info-content li {
  font-size: 1.2rem;
  margin: 5rem;
}
@media (max-width: 425px) {
  .message {
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-top: 0;
  }
  .massege-info {
    width: 80%;
  }
  .info {
    width: 80%;
  }
}
