.left-radiusp {
  /* padding: 20px; */
  width: 75%;
  margin: 5rem auto;
}
.left-radiusp img {
  margin-bottom: -25px;
}
.background-midpurple {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--midpurple);
  border-radius: 15px;
}

.background-lightgreen {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--light-green);
  border-radius: 15px;
}
.background-purple {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--purple);
  border-radius: 15px;
}
.visit-info {
  width: 60%;
  background-color: var(--light-blue);
  text-align: center;
  font-size: 2vw;
  height: 15vh;
  color: var(--white);
  margin: 5rem auto;
  border-radius: 5px;
}
.visit-info h3 {
  padding: 50px;
}
.hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 8rem;
}

.hours img {
  width: 80%;
  border-radius: 5px;
  aspect-ratio: 3/2;
}
.hours h4 {
  font-size: 3vw;
  color: var(--dark-blue);
}
.hours p {
  font-size: 2vw;
}
.location,
.admission {
  width: 100%;
  margin: 0 5rem;
  font-size: 1.8vw;
}
.location h5,
.admission h5 {
  color: var(--dark-blue);
}
.facilitate {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  margin: 5rem;
}
.facility-one,
.facility-second,
.facility-third {
  max-width: 100%;
  background-color: var(--background-blue);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 25px;
  flex: 1 1 200px;
  overflow: hidden;
}
.facilitate-img {
  width: 80%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 20px;
  border: 1px solid var(--light-blue);
  aspect-ratio: 1/1;
  transition: none;
  margin: auto;
}
.text-facilitate {
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
  flex: 1;
}
@media (max-width: 425px) {
  .hours {
    margin: 3rem;
  }
  /* .hours p {
    font-size: 0.6rem;
  } */
  .location,
  .admission {
    margin: 0 1rem;
    width: 90%;
    font-size: 1rem;
  }
  .facilitate {
    grid-template-columns: repeat(auto-fit, 25rem);
  }
}
