.cover {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cover img {
  width: 100%;
  display: block;
  aspect-ratio: 15/6;
}
.cover-note {
  position: absolute;
  display: block;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 45%;
  text-align: center;
  left: 50%;
}
h1 {
  font-size: 3vw;
}
.cover-note p {
  font-size: 3vw;
  font-weight: 800;
}
.explor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  overflow: hidden;
}
.main-explor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.main-explor-text {
  margin-right: 3rem;
  width: 25%;
  text-align: justify;
}
.main-explor-text p {
  font-size: 1.4vw;
}
.main-explor-pic {
  width: 40%;
}
.main-explor-pic img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
}
.main-explor-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.center {
  margin-top: 3rem;
}
.update {
  display: flex;
  align-items: center;
  justify-content: center;
}
.update h3 {
  color: var(--dark-blue);
  text-align: center;
  font-size: 2vw;
}
.update p {
  text-align: left;
  font-size: 1.5vw;
  margin: 0 10rem;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.subscribe p {
  font-size: 1.3vw;
}
.subscribe-text input {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* -------------------responsive--------------------- */
@media (max-width: 425px) {
  .explor {
    padding-top: 2rem;
  }
  .main-explor {
    display: block;
  }
  .main-explor-text {
    margin: 0;
    padding: 0 2rem;
    width: 80%;
  }
  .main-explor-text p {
    font-size: 2.5vw;
  }
  .main-explor-pic {
    width: 70%;
    margin: 1rem auto;
    align-items: center;
  }
  .update p {
    font-size: 3vw;
    text-align: justify;
    margin: 2rem;
  }
  .update h3 {
    font-size: 3vw;
  }
  .subscribe p {
    font-size: 2.4vw;
  }
  .subscribe input {
    padding: 10px;
  }
  .btn {
    width: 50%;
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .main-explor-pic img {
    width: 90%;
    height: 400px;
  }
  .main-explor-text p {
    font-size: 1.8vw;
  }
  .subscribe-text input {
    margin-left: 1rem;
  }
}
@media (min-width: 1024px) {
  .main-explor-pic img {
    width: 100%;
    height: auto;
    margin-left: 2rem;
  }

  .main-explor-text {
    margin: 0;
    width: 40%;
    padding: 0 2rem;
    font-size: 3vw;
  }
}
