.left-radiusp {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2.5rem;
}
.left-radiusp img {
  width: 100%;
  aspect-ratio: 9/13;
  margin: 3rem;
  border-radius: 30px;
}
.left-radiusp-text {
  width: 100%;
  font-size: 2vw;
  margin: 0 5rem;
}
.left-radiusp-text h2 {
  color: var(--dark-blue);
  text-align: center;
}
.left-radiusp-text p {
  text-align: justify;
  margin-right: 5rem;
}
