nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu,
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  font-size: 2rem;
}
.menu li {
  margin-right: 1.2rem;
}
.icon li {
  margin-right: 2rem;
}
