nav {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.logo {
  margin-top: 1rem;
}
.menu,
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  font-size: 2rem;
}
.menu li {
  margin-right: 1.2rem;
}
.icon li {
  margin-right: 1rem;
}
.burger {
  display: none;
  padding: 0.5rem;
  position: relative;
  z-index: 4000;
}
.burger-menu {
  position: absolute;
  right: 0;
  width: 120px;
  background-color: var(--dark-blue);
  color: #fff;
  z-index: 5000;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.cross-icon {
  text-align: right;
}
.burger-menu-item {
  color: #fff;
}
.burger-menu-item ul {
  display: block;
  text-align: left;
}
.burger-menu-item ul li a {
  color: #fff;
  text-align: left;
  line-height: 5px;
}
.show-burger-menu {
  display: block;
}
@media (max-width: 425px) {
  .menu {
    display: none;
  }
  .burger {
    display: flex;
    margin-top: 20px;
    font-size: 25px;
  }
  nav img {
    width: 8rem;
  }
  .icon {
    font-size: 1rem;
  }
}
