.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  width: 80%;
}
.policy h2 {
}
.policy p {
  font-size: 2rem;
  padding: 40px;
  background-color: var(--background-blue);
  border-radius: 10px;
}
span {
  font-weight: bold;
}
