.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  /* width: 80%; */
}
.policy h2 {
  color: var(--dark-blue);
  font-size: 4rem;
  margin-bottom: -4rem;
  margin-left: 4rem;
}
.policy p {
  font-size: 2rem;
  padding: 70px;
  background-color: var(--background-blue);
  border-radius: 10px;
}
span {
  font-weight: bold;
}
