.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  /* width: 80%; */
}
.policy h2 {
  color: var(--dark-blue);
  font-size: 4rem;
  margin-bottom: -4rem;
  margin-left: 4rem;
}
.policy p {
  font-size: 2rem;
  padding: 70px;
  background-color: var(--background-blue);
  border-radius: 10px;
}
span {
  font-weight: bold;
}
a {
  font-size: 1rem;
}
@media (max-width: 425px) {
  .policy {
    margin: 2rem;
  }
  .policy h2 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: -1.5rem;
  }
  .policy p {
    font-size: 1rem;
    padding: 40px;
  }
  a {
    font-size: 0.8rem;
  }
}
