.right-radiusp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 2.5rem;
}
.right-radiusp-text {
  width: 55%;
  font-size: 1.4vw;
  margin-top: 2.5rem;
}
.right-radiusp-text h2 {
  color: var(--dark-blue);
  text-align: center;
}
.right-radiusp-text p {
  text-align: justify;
}
.right-radiusp img {
  width: 20%;
  height: 10%;
  aspect-ratio: 7/9;
  margin: 3rem;
  border-radius: 30px;
}
@media (max-width: 425px) {
  .right-radiusp img {
    margin: 1rem;
    border-radius: 20px;
  }
  .right-radiusp-text {
    margin-top: 0;
    font-size: 1.8vw;
  }
}
