.right-radiusp {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 3rem;
}
.right-radiusp-text {
  width: 100%;
  font-size: 2vw;
  /* margin: 0 5rem; */
}
.right-radiusp-text h2 {
  color: var(--dark-blue);
  text-align: center;
}
.right-radiusp-text p {
  text-align: justify;
  margin-right: 3rem;
}
.right-radiusp img {
  width: 100%;
  aspect-ratio: 9/13;
  /* margin: 3rem; */
  border-radius: 30px;
}
