@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Italiana&family=Jura:wght@400;600&family=Poppins:wght@400;500;600;800;900&display=swap");

:root {
  --dark-blue: rgba(24, 75, 206, 1);
  --light-blue: rgba(24, 75, 206, 0.6);
  --background-blue: rgba(182, 215, 246, 0.3);
  --dark-gray: rgba(83, 78, 78, 1);
  --light-gray: rgba(245, 245, 245, 1);
  --hover-color: rgba(52, 55, 132, 1);
  --red-color: rgba(242, 68, 44, 1);
  --white: #ffff;
  --midpurple: rgba(166, 169, 225, 0.58);
}
body {
  margin: 0;
  padding: 0 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Jura", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.btn {
  background: var(--dark-blue);
  width: 30%;
  color: var(--white);
  padding: 20px;
  font-size: 2vw;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  margin-top: 3rem;
  font-family: "Italiana", sans-serif;
}
.title {
  width: 100%;
  background-color: var(--light-blue);
  text-align: center;
  font-size: 2vw;
  height: 15vh;
  color: var(--white);
}
.title h1 {
  padding: 30px;
}
